<nav class="nav navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand title">Events</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Event</button>
        <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal1">Show Events</button>


        <div class="collapse navbar-collapse btnright" id="navbarSupportedContent">
        <button class="btn btn btn-primary"  (click)="logout()" style="color: white;">LogOut</button>
        </div>
    </div>
</nav>


<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form (ngSubmit)="addevent()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="Event Title" id="title" class="form-control" [(ngModel)]="title" name="title">
          <input type="date" placeholder="Event Date" id="date" class="form-control" [(ngModel)]="date" name="date">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <h3 style="text-align: center;">Welcome {{user}}</h3>


  
  <!-- <div>
    <div class="col-6 newdiv">
      <form (ngSubmit)="addevent()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Event</h5>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="User name" id="username" class="form-control" [(ngModel)]="username" name="username">
          <input type="text" placeholder="Password" id="password" class="form-control" [(ngModel)]="password" name="password">
          <input type="text" placeholder="Event Title" id="title" class="form-control" [(ngModel)]="title" name="title">
          <input type="text" placeholder="Event Date" id="date" class="form-control" [(ngModel)]="date" name="date">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-6"></div>
  </div> -->

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form (ngSubmit)="addevent()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Show Events</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">Event Title</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let data of event">
                    <!-- <th scope="row">{{data.Title}}</th> -->
                    <th scope="row"><input  value="{{data.Title}}" id="input1" ></th>
                    <th scope="row"><input value="{{data.Date}}"></th>
                    <!-- <th scope="row">{{data.Date}}</th> -->
                    <th ><a id="{{data.uid}}" (click)="delete($event)">Delete</a></th>
                    <!-- <th ><button type="submit" id="{{data.uid}}" >Modify</button></th> -->
                </tr>
            </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>
 
  